SESSION_SECRET=atelier-bujori-secret-key
SUPABASE_DB_URL=postgresql://postgres.xxxxx:[PAROLA]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://ppjdcedqxzckltbxziws.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOi...
SUPABASE_STORAGE_BUCKET=product-images
SMTP_USER=contul.tau@gmail.com
SMTP_PASS=app-password-gmail
ORDER_NOTIFY_EMAIL=contul.tau@gmail.com
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxx
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxx
