SESSION_SECRET=atelier-bujori-secret-key
SUPABASE_DB_URL=postgresql://postgres.ppjdcedqxzckltbxziws:XX123@simona@aws-0-eu-west-1.pooler.supabase.com:6543/postgres
SUPABASE_URL=https://ppjdcedqxzckltbxziws.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_secret_jzOyf_qhMK22se2nzMgEeg_iae82iT1
SUPABASE_STORAGE_BUCKET=product-images
SMTP_USER=floridemaibujori@gmail.com
SMTP_PASS=kfqc oxmc qowo dxeq
ORDER_NOTIFY_EMAIL=floridemaibujori@gmail.com
STRIPE_PUBLISHABLE_KEY=pk_test_51TKL5eRsfs45WbGJuWiLjnRpOChCTmDuTtsbZdL60fvzg4y1SxB2g0FA1l0MyMZZwpUkwfwM1wwHqII2QoVLcc2T008l8W8zds
STRIPE_SECRET_KEY=sk_test_51TKL5eRsfs45WbGJ6V1EJXAKWi615f0TQVs9lxtJWUOwX9cXZHIxEsqJt2YTq2OSf5GUp9VSljPuFGmSFq1niHOt00rF9Ubcxt
