<%- include('../partials/head') %>
<%- include('../partials/header', { currentPath, company }) %>
<main class="section">
  <div class="container card page-head">
    <h1>Pagina nu a fost gasita</h1>
    <p>Linkul accesat nu este disponibil. Poti reveni in magazin sau contact.</p>
    <div class="btn-row">
      <a class="btn btn-primary" href="/">Acasa</a>
      <a class="btn btn-secondary" href="/magazin">Magazin</a>
    </div>
  </div>
</main>
<%- include('../partials/footer', { company }) %>
